*:Zone.Identifier
*~
*.bak
*.4ct
*.4tc
*.aux
*.fdb_latexmk
*.fls
*.idv
*.idx
*.ilg
*.ind
*.lg
*.log
*.ncx
*.opf
*.out
*.tmp
*.toc
*.xdy
*.xref
thebook-*/
thebook.css
thebook.dvi
thebook.out.ps
thebook*.html
helpers4ht.git/
